<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li>
      <a routerLink="/invoice">Invoices</a>
    </li>
    <li class="active">Invoice Payment</li>
  </ol>

  <a class="btn btn-primary" routerLink="/invoice">Return to Invoices</a>

  <h1>Invoice Payment</h1>

  <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

  <form (ngSubmit)="savePayment(paymentForm)" #paymentForm="ngForm" class="form-horizontal">
    <div class="form-group">
      <label for="client" class="col-sm-2 control-label">Client</label>
      <div class="col-sm-10">
        <select required [ngModel]="null" ngModel #client="ngModel" class="form-control" id="client" name="client">
          <option [ngValue]="null">-- Select Client --</option>
          <option *ngFor="let company of companies" [ngValue]="company.id">
            {{ company.name }}
          </option>
        </select>
      </div>
    </div>  <div class="form-group">
      <label for="paymentDescription" class="col-sm-2 control-label">Invoice ID</label>
      <div class="col-sm-10">
        <input ngModel #paymentDescription="ngModel" type="text" class="form-control" id="paymentDescription" name="paymentDescription"
          placeholder="Description" required minlength="5" maxlength="30">
        <span *ngIf="formErrors.paymentDescription" class="text-danger">
          {{ formErrors.paymentDescription }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="client" class="col-sm-2 control-label">Method Type</label>
      <div class="col-sm-10">
        <select required [ngModel]="null" ngModel #client="ngModel" class="form-control" id="client" name="client">
          <option [ngValue]="null">-- Select Client --</option>
          <option *ngFor="let company of companies" [ngValue]="company.id">
            {{ company.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="paymentDescription" class="col-sm-2 control-label">Total Remaning</label>
      <div class="col-sm-10">
        <input ngModel #paymentDescription="ngModel" type="text" class="form-control" id="paymentDescription" name="paymentDescription"
          placeholder="Description" required minlength="5" maxlength="30">
        <span *ngIf="formErrors.paymentDescription" class="text-danger">
          {{ formErrors.paymentDescription }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="paymentDescription" class="col-sm-2 control-label">Payment Amount</label>
      <div class="col-sm-10">
        <input ngModel #paymentDescription="ngModel" type="text" class="form-control" id="paymentDescription" name="paymentDescription"
          placeholder="Description" required minlength="5" maxlength="30">
        <span *ngIf="formErrors.paymentDescription" class="text-danger">
          {{ formErrors.paymentDescription }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]="!paymentForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</section>