<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li>
      <a routerLink="/invoice">Invoices</a>
    </li>
    <li class="active">Invoice Payment</li>
  </ol>

  <a class="btn btn-primary" routerLink="/invoice">Return to Invoices</a>

  <h1>Invoice Payment</h1>

  <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

  <form novalidate (ngSubmit)="savePayment(paymentForm)" #paymentForm="ngForm" class="form-horizontal">
    <input [ngModel]="invoice?.company.name" ngModel #invoice_company_name="ngModel" type="hidden" name="id">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Company Name</label>
      <div class="col-sm-10">
        <input [disabled]="true" [ngModel]="invoice?.company.name" ngModel #name="ngModel" type="text" class="form-control" id="id" name="name" placeholder="Company id" required minlength="2" maxlength="30">
      </div>
    </div> 
    <input [ngModel]="invoice?.id" ngModel #invoice_id="ngModel" type="hidden" name="id">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Invoice ID</label>
      <div class="col-sm-10">
        <input readonly="readonly"  [ngModel]="invoice?.id" ngModel #name="ngModel" type="text" class="form-control" id="id" name="id" placeholder="Company id" required minlength="2" maxlength="30">
      </div>
    </div>


    <input [ngModel]="invoice?.currentBalance" ngModel #balance="ngModel" type="hidden" name="currentBalance">
    <div class="form-group">
      <label for="balance" class="col-sm-2 control-label">Balance</label>
      <div class="col-sm-10">
        <input [disabled]="true" [ngModel]="invoice?.currentBalance" ngModel #currentBalance="ngModel" type="text" class="form-control" id="currentBalance" name="currentBalance" placeholder="Current balance" >
      </div>
    </div> 
   


    <div class="form-group">
      <label for="paymentAmount" class="col-sm-2 control-label">Payment Amount</label>
      <div class="col-sm-10">
        <input ngModel #paymentAmount="ngModel" type="number" class="form-control" id="paymentAmount" name="amount"
          placeholder="e.g. 100.00" required minlength="3" maxlength="30" required pattern="^(\d*\.)?\d+$">
        <span *ngIf="formErrors.paymentAmount" class="text-danger">
          {{ formErrors.paymentAmount }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="method" class="col-sm-2 control-label">Method Type</label>
      <div class="col-sm-10">
        <select required [ngModel]="null" ngModel #method="ngModel" class="form-control" id="method" name="method">        
          <option [ngValue]="null">-- Select Payment Method --</option>
          <option value="Credit Card">Credit Card</option>
          <option value="Check" >Check</option>
          <option value="Cash">Cash</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary">Submit</button>
<!--        <button [disabled]="!paymentForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
-->   </div>
    </div>
  </form>
</section>